.containerButton{
  
  display: flex;
  flex-direction: row;
}
.button{
  font-size: 16px;  
  font-weight: 700;  
  margin: 15px auto;
  color: var(--blue-600); 
  width: 2rem;
  margin-left: 2px;
}
.button:hover{
  background: gray;
  border: 1px solid blue;
}
.buttonActive{
  margin: 15px auto;
  color: var(--blue-600); 
  width: 2rem;
  margin-left: 2px;
  background: gray;
}
