.headercontainer{
  max-width: 980px;
  width: 100%;
}
.aboutcontainer{
  
  margin-top: 2rem;
}
.photo{
  width: 100%;
  max-width: 750px;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.aboutcontent p{
  margin: .5rem auto;
  color: black;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

.buttons{
  width: 150px;
  height: 40px;  
  border-radius: 9999px;
  border: 1px var(--blue-600);
  font-weight: 700;  
  transition: color 0.3s, background-color 0.3s;
  margin-top: 2rem;   
  font-size: 16px;  
  color: var(--blue-600);
  background-color: var(--blue-100);
}
.aboutcontainer button:hover{
  background: var(--blue-400);
  cursor: pointer;
  color:var(--blue-600)
}
a{
  text-decoration: none;
  color:var(--blue-400);
  font-weight: bold;
}
@media (max-width: 630px) {
  .aboutcontent {
    flex-direction: column;
    text-align: center;

  }
}
@media (max-width: 630px) {
  .buttonemail {
    flex-direction: column;
    text-align: center;

  }
}
.containerForm{
  display: flex; 
 
  

}
input{
  display: flex;
  width: 100%;  
}
textarea{
    
  resize: none;
  display: flex;
  width: 50%;
  height: 100px;
}
h1 {
  color: var(--blue-100);
  align-items: center;
  display: flex;
  justify-content: center;
}
.textarea{
  margin-top: 1.5rem;
}
