.aboutcontainer{
  width: 90%;
  max-width: 980px;
  margin-top: 2rem;
}
.photo{
  width: 100%;
  max-width: 980px;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.aboutcontent p{
  margin-top: 1rem;
  color: black;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

.buttons{
  width: 150px;
  height: 40px;
  color: var(--blue-600);
  background-color:var(--blue-100);
  border-radius: 40px;
  border: 1px var(--blue-600);
  font-weight: bold;
  font-size:1rem;
  transition: color 0.3s, background-color 0.3s;
  margin-top: 2rem;   
  font-size: 19px; 
}
.aboutcontainer button:hover{
  background: var(--blue-400);
  cursor: pointer;
}
a{
  text-decoration: none;
  color:var(--blue-400);
  font-weight: bold;
}
