.headercontent{
  margin-top: 3rem;
  width: 100%;
  max-width: 980px;    
}
.homeheader {
  display: flex;
  flex-direction: column; 
  gap: .75rem; 
}
.homeheader h2{
  color: black;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
}
.homeheader strong{
  color: var(--gray-400);  
}
.homeheader span{
  color: var(--blue-500)
}
.buttonabout{
  width: 150px;
  height: 40px;  
  border-radius: 9999px;
  border: 1px var(--blue-600);
  font-weight: 700;  
  transition: color 0.3s, background-color 0.3s;
  margin-top: 2rem;   
  font-size: 16px;  
  color: var(--blue-600);
  background-color: var(--blue-100);
  
  
}
.buttonabout:hover{
  background: var(--blue-400);
  cursor: pointer;
  color:var(--blue-600)
}
@media (max-width: 630px) {
  .headercontent {
    flex-direction: column;
    text-align: center;

  }
}
