.headercontent{
  margin-top: 3rem;
  width: 100%;
  max-width: 980px;    
}
.homeheader {
  display: flex;
  flex-direction: column; 
  gap: .75rem; 
}
.homeheader h2{
  color: black;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
}
.homeheader strong{
  color: var(--gray-400);  
}
.homeheader span{
  color: var(--blue-500)
}
@media (max-width: 630px) {
  .headercontent {
    flex-direction: column;
    text-align: center;

  }
}
