.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 2rem;

}

.posts{
 max-width: 720px;
 margin: 5rem auto 0;
}

.posts a{
  display: block;
}
.posts  a + a {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid var(--gray-400);

  }

.posts time{
  font-size: 1rem;
  display: flex;
  align-items: center;;
  color: var(--gray-300);

}
.posts strong {
  display: block;
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 2rem;
  transition: 0.3s;
}
.posts p {
  color: var(--gray-600);
  margin-top: .5rem;
  line-height: 1.6rem;
}

.posts :hover strong{
  color: #3586ff;

}


img {
  margin-top: 20px;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;

}
button{
 
  justify-content: center;
  align-items: center;
  display: flex  
  
}

input {
  margin-top:2rem;
  width: 50%;
  height: 40px;    
  border-radius: 10px;  
  border: 2px solid var(--blue-600);
  font-family:'Josefin Sans', sans-serif;
  
}
