header{
  margin-top: 2rem;
  display: flex;
  width: 90%;
  max-width: 980px;
  align-items: center;
  justify-content: space-between;  
}
header .navbar{
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}
header .container{
  display: flex;
 
  align-items: center;
  justify-content: space-around;
}

header .avatar {
  min-width: 3.1rem;
  min-height: 3.1rem;
  clip-path: circle(50% at 50% 50%);
  max-width: 3.1rem;
  max-height: 3.1rem;
  
}
nav .navlist{
  margin-left: 4rem;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  margin:0;
  margin-right: 3rem;
}

span .span{
  border: 0px;
   margin: 0px;
    padding: 0px;
  box-sizing:border-box;
  display: flex;
  overflow:hidden; 
  background:none;
  opacity:1; 
  position:relative;
  
}
.navlist ol{ 
  list-style: none;
  display: flex;    
}


.navlist .a:hover{
  color:var(--blue-600);
}
.buttonlight{
  width:1rem;
  height: 1rem;
}
.navlist li+li{
  margin-left: 2rem;
}
