header {
  margin-top: 2rem;
}
header .navbar{
  margin-top: 2rem;
  display: flex;
  width: 90%;
  max-width: 980px;
  flex-direction: row;
  align-items: center;
  justify-content: center;   
}

header .container{
  display: flex; 
  align-items: center;
  justify-content: space-between;
}
span .span{
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  display: flex;
  overflow:hidden; 
  background:none;
  opacity:1; 
  position:relative; 
}
header .avatar {
  min-width: 3.1rem;
  min-height: 3.1rem;
  clip-path: circle(50% at 50% 50%);
  max-width: 3.1rem;
  max-height: 3.1rem;
  
}
nav{
  padding: 0;
  display: flex;
}

.navlist ol{ 
  list-style: none;
  display: flex;    
}
.navlist .a:hover{
  color:var(--blue-600);
}
.navlist{
  margin-left: 2rem;
}
.navlist li+li{
  margin-left: 2rem;
}
@media (max-width: 630px) {
  .navlist li {
   margin:0;

  }
}
