* {
  margin:0;
  padding: 0;
}
.a{
   color: rgb(0, 86, 109);
    text-decoration: none;
  }
.a:hover {
  opacity: 0.7;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--gray-300);
  height: 8vh;
}

.logo {
  margin-left: 2rem;
  height: 4.5rem;
  width: 13rem;
}
.navlist{ 
  list-style: none;
  display: flex;
}
.navlist li {
  letter-spacing: 3px;
  margin-left: 32px;
}
.mobilemenu {
  display: none;
  cursor: pointer;
}
.mobilemenu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}
@media (max-width: 999px){
  body {
    overflow-x: hidden;
  }
  .navlist { 
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background-color: var(--gray-100);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);

    }
    .navlist li {
      margin-left: 0;
      opacity: 0;
    }
    .mobilemenu{
      display: block;
    }
}
.navlistactive {


  
    background: #6C7A89;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(0);
    position: absolute;
    top: 8vh;

    right: 1rem;
    width: 50vw;    
    height: 92vh;
   
    background-color: var(--gray-300);       
   
}
.navlistactive li {
  font-size: 2rem;
  margin-left: 5rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  list-style: none;
}
.button{
  background-color: transparent;
  color: red;
  border: red;
}
