.bookcontainer{
  background: transparent;  
  margin-top: 5rem;
  width: 90%;
  max-width: 980px;
  display: flex;  
  flex-direction: column;
}
.bookcontent{
  width: 90%;
  max-width: 980px;

}
.bookcontent h1 {
  font-weight: bold;
  color: black;
}
.bookcontent p{
  color: black;
}
.booklist{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:20px;
}
.booklist li{
  list-style: none;
}
.image{
  width: 14rem;
  height: 20rem;
  border-radius: 10px;
}
