.container{
  width: 100%;
  max-width: 980px;
  margin-top: 2rem;
}
.container h1{
  color: black;

}
.containerli {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.containerli a{
margin-top: 0.5rem;
}
.containerli a:hover {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color:var(--blue-600)

}
@media (max-width: 630px) {
  .container {
    flex-direction: column;
    text-align: center;

  }
}
