.FooterContainer {
  width: 90%;
  max-width: 980px;
  margin-bottom: 2rem;
  background-color: var(--gray-100);
}
.FooterWrap{
padding: 48px 24px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 100%;
}
.FooterLinksContainer{
display: flex;
justify-content: center;
}
.FooterLinksWrapper{ 
display: flex;
}
.FooterLinkItems{
display: flex;
flex-direction: column;
align-items: center;
margin: 16px;
text-align: center;
width: 160px;
box-sizing: border-box;
color: #ffff;



}
.FooterLinkTitle{
font-size: 14px;
margin-bottom: 16px;
}
.FooterLink{ 
  color: var(--gray-400);
  font-weight:100;
text-decoration: none;
margin-bottom: 0.5rem;
font-size: 14px;
}
.FooterLink:hover{
  color: #01b;
  transition: 0.3 ease-out;

}
.copyrightp{
  text-align: center;
  justify-content: center;
  display: flex;
  margin-bottom: 2rem;
}
hr{
  margin-top: 2rem;
  max-width: 980px;
}
