:root {
  --white: #fff;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --blue-500:rgb(0, 86, 109);
  
}


.App {
  text-align: center;
}
body {
  background-color: var(--gray-100);
  padding: 2rem;
  margin: 2px 1em 0 auto;
  box-sizing: border-box;
  font-family:'Dosis', sans-serif;
}
